.signup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.signup {
  height: 70%;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 30%;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.signup__body {
  margin-top: 20px;
}
.signup__body div {
  margin: 20px 0;
}
input {
  padding: 8px;
}

.signup__footer {
  padding-top: 30px;
}
.signin {
  color: #8ad1d6;
}

button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #8ad1d6;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
